<!DOCTYPE html>
<html>
	<head>
		<title>#readMoreCanlit book recommender</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>

<body>


	
		<a href='about.htm'>About</a>
		<a href='index.htm'>Recommendations</a>
		<a href='learn.htm'>Learn</a>

		<br />
		<br />
		<img src='img/readMoreCanlit.png' /><br /><br />

		
		
</body>
	<main>

		<h2>Here are your personalized recommendations! </h2>

		<blockquote><h2>Here are { } books that are  similar to { }</h2> 
		
		<p class='book-info'>Information on book one</p>		
		<p class='book-info'>Information on book two</p>
		<p class='book-info'>Information on book three</p>
		<p class='book-info'>Information on book four</p>
		<p class='book-info'>Information on book five</p>

	<h2>What would you like to do next?</h2><blockquote> 
	<br />
	

	<input type="submit" value="Get another recommendation" class='button'><br />
	<input type="submit" value="Tell a friend" class='button'>
	<input type="submit" value="Sign up for emails" class='button'>

	
	<br />
	<br />
	</main>

	<footer>
	<center>©2020 readMoreCanlit | Some rights reserved</center>
	</footer>
	</html>